* {
    box-sizing: border-box;
    
}

body{
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
        display: block;
}

nav{
    margin-bottom: 20px;
}
#start-btn{
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    
    
}
#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}


.timer_sec {
    justify-content: end;
}

#question {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
}

#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#questions-container{
        position: relative;
        width: 600px;
        height : 400px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        border : 3px solid grey;
        
}

#choices{
    position: relative;
    width : 460px;
    margin: auto;
    top : 160px; 
    padding : 10px
}

.choice {
    display: inline-block;
    width: 100px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
    margin-left: auto;
    font-size: 13px;

    
}